body {
    background-color: #B55A80;
    font-family: 'Courier New', Courier, monospace;
}

form {
    position: absolute;
    margin-top: auto;
    margin-right: 5vw;
    text-align: right;

    top: 30vh;
    right: 0;
    font-weight: bolder;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

textarea {
    resize: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 200px;
    height: 200px;
    overflow-wrap: break-word;
    vertical-align: top;

}

.draggable {
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

.clothes {
    width: 10vw;
    height: auto;
}



.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.secretText {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 300px;
    max-height: fit-content;

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 5vw;
    padding-left: 5vw;

    background-image: url(./src/papernote.png);
    background-size: 100% 100%;

    font-size: 70%;
    overflow-wrap: anywhere;
}